---
import Layout from '../../layouts/Layout.astro';
import Aside from '../../layouts/Aside.astro';
import MobileNav from '../../components/MobileNav.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <main class="max-w-6xl mx-auto p-3 lg:p-6 flex grid lg:grid-cols-4">
    <section class="col-span-3 dark:bg-zinc-800 bg-white shadow-md rounded-lg overflow-hidden py-6">
      <div class="text-2xl mb-4 ml-6 md:ml-12 dark:text-neutral-200">
        <h2>Archive</h2>
        <h3 class="text-xl">共 {posts.length} 筆文章</h3>
      </div>
      <ul class="pl-10 md:pl-16">
        {
          posts.map((post) => (
            <li class="mb-2 list-disc dark:text-neutral-200">
              <a href={`/post/${post.slug}/`}>
                <p class="text-sm text-neutral-400 inline-block">
                  <FormattedDate date={post.data.pubDate} />
                </p>
                <h4 class="ml-2 inline-block hover:underline hover:underline-offset-2">
                  {post.data.title}
                </h4>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <Aside />
    <MobileNav />
  </main>
</Layout>
