@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
body {
	font-family: "Noto Sans TC", sans-serif;
	letter-spacing: 0.025em;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: rgb(245 245 245);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	line-height: 1.5;
	transition: background-color 0.3s ease;
}
.dark body {
	background-color: rgb(24 24 27);
}
svg {
	display: inline-block;
}
/* mdx style */
.prose> h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
  line-height: 1.25;
}

.prose h1 {
	margin: 1.5rem 0 1.2rem;
	font-size: 1.875rem;
	line-height: 2.25rem;
}

.prose h2 {
	margin: 1.5rem 0 1.2rem;
	padding-bottom: 1.1rem;
	font-size: 1.5rem;
	border-bottom: 1px solid #e4e4e7;
}

.dark .prose h2 {
	color: rgb(244 244 245 / var(--tw-text-opacity));
}

.prose h3 {
	margin: 1.25rem 0 1.05rem;
	font-size: 1.25rem;
}

.prose h4, h5, h6 {
	margin: 1rem 0 0.8rem;
	font-size: 1rem;
}

.prose p {
	margin: 0 0 1.2rem;
	line-height: 1.75;
}

.prose a {
	color: #2337ff;
	text-decoration: underline;
}

.dark .prose a {
	color: skyblue;
}

.prose ul {
	list-style-type: disc;
	padding-left: 2rem;
	margin-bottom: 16px;
}

.prose ol {
	list-style-type: decimal;
	padding-left: 2rem;
	margin-bottom: 16px;
}

.prose li {
	line-height: 1.75;
}

.prose table {
	width: 100%;
	margin-bottom: 1rem;
}

.prose thead {
	background-color: #f4f4f5;;
}

.prose tr {
	border-bottom: 1px solid #d4d4d8;
}

.prose table th {
	border-left: 1px solid #d4d4d8;
	border-right: 1px solid #d4d4d8;
	border-top: 1px solid #d4d4d8;
}

.prose td {
	border-left-color: #e4e4e7;
  border-top-color: #e4e4e7;
	border: 1px solid #ddd;
}

.prose th , td {
	padding: 6px 13px;
}

.prose svg {
	margin-bottom: 0.5rem;
}

code {
	padding: 2px 5px;
	background-color: rgb(228, 228, 228);
	border-radius: 4px;
	margin: 0 3px;
}

pre {
	margin: 0 0 1.2rem;
	padding: 1.5rem;
	border-radius: 8px;
}

.dark code, .dark pre {
	background-color: rgb(26, 26, 28) !important;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid #e4e4e7;
	padding: 0 0 0 20px;
	margin: 0px;
}

/* mobile style */
@media (min-width: 1024px) {
	.prose p {
		font-size: 1.1rem;
		line-height: 1.5;
	}
}

@media (max-width: 720px) {
	main {
		padding: 1rem;
	}
}
/* index card hover */
.transition-hover-link:hover .transition-hover-img {
  transform: scale(1.15);
  transition: transform 0.5s ease-in-out;
}

.transition-hover-img {
  transform: scale(1);
  transition: all 0.5s ease-out;
}