---
import FormattedDate from '../components/FormattedDate.astro';
import Layout from '../layouts/Layout.astro';
import Aside from '../layouts/Aside.astro';
import MobileNav from '../components/MobileNav.astro';
---

<Layout>
	<main class="max-w-6xl mx-auto p-3 md:p-12 flex grid lg:grid-cols-4">
		<section class="lg:col-span-3 bg-white dark:bg-zinc-800 dark:text-neutral-300 shadow-md rounded-lg overflow-hidden p-6 md:px-12 md:py-6">
			<h2 class="text-2xl font-bold mb-4">About</h2>
			<FormattedDate date={new Date('December 06 2022')} />
			<div class="grid gap-4 mt-2 mb-6">
				<h3 class="text-xl font-bold">Andy Wang</h3>
				<p>
					Currently working as a Front-End Engineer in the software development department of a major e-commerce company. 
				</p>
				<p>
					In my free time, I enjoy working on fun and interesting projects and discussing a wide range of topics. During leisure hours, I like playing PC games and creating digital artwork.
				</p>
			</div>
			<div class="grid gap-4 mt-2 mb-6">
				<h2 class="text-xl font-bold">Life Philosophy</h2>
				<p>
					我習慣每隔幾個月或一年做一次複盤，回頭檢視自己這段時間進步了多少或這些日子得到些什麼收穫，同時，也常會懷疑自己當初下的決定是不是錯的。
				</p>
				<p>
					不過仔細想想，如果再回到當時，我依然會做出相同的選擇，因為那是當下基於所有條件能做出的最佳抉擇。
				</p>
				<p>
					賈伯斯曾以自身經歷提到「Connecting the dots」的故事，每段人生都有它的意義，可能當時你並不知道自己在幹嘛，但總有那麼一天它會派上用場，幫助未來的自己。
				</p>
				<p>
					人生不過是由點和線組成，「每個點（經歷）都有它的價值，雖然當下可能看不清楚，但未來回頭看時，它們會串聯成意義。」所以勇敢去做吧！
				</p>
			</div>
			<img src="/about/about-img.jpg" class="mb-6" alt="">
			<p>（寫下這些，是希望勉勵自己在成長的過程不要害怕迷茫）</p>
			<div class="grid gap-4 mt-2 mb-6">
				<h2 class="text-xl font-bold">About Blog</h2>
				<p>
					在早期，這個部落格是使用 Jekyll 架設的，中間也嘗試了幾個不同的 theme，可以參考這篇<a href="https://andywangtw.dev/post/%E8%87%AA%E5%B7%B1%E7%9A%84%E9%83%A8%E8%90%BD%E6%A0%BC%E8%87%AA%E5%B7%B1%E6%9E%B6/" class="text-blue-500" target="_blank">文章</a>有簡短的介紹。
				</p>
				<p>
					到了 2024 年中，決定將部落格重構。現在的部落格是使用 Astro、React 和 Tailwind 開發。如果有興趣，可以參考 @devaslife 在 YouTube 上的示範影片。另外，我也在這篇<a href="https://andywangtw.dev/post/%E9%97%9C%E6%96%BC%E6%88%91%E9%87%8D%E6%A7%8B%E9%83%A8%E8%90%BD%E6%A0%BC%E9%80%99%E6%AA%94%E4%BA%8B/" class="text-blue-500" target="_blank">短文</a>中分享了關於重構部落格的一些心得。
				</p>
				<p>
					不知道未來會不會又搬家，但可以確定的是，未來會將這邊慢慢優化成自己喜歡的樣子！
				</p>
			</div>
			<div class="flex mb-4">
				<a href="https://x.com/andywang890505" target="_blank" class="mr-2">
					<svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24"
					><path
					fill="currentColor"
					d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
					></path></svg
					>
				</a>
				<a href="https://github.com/AndyWang505" target="_blank" class="mr-2">
					<svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24"
					><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
					>
				</a>
				<a href="/rss.xml" target="_blank" class="mr-2">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path fill="currentColor" d="M6.18 15.64a2.18 2.18 0 0 1 2.18 2.18C8.36 19 7.38 20 6.18 20C5 20 4 19 4 17.82a2.18 2.18 0 0 1 2.18-2.18M4 4.44A15.56 15.56 0 0 1 19.56 20h-2.83A12.73 12.73 0 0 0 4 7.27V4.44m0 5.66a9.9 9.9 0 0 1 9.9 9.9h-2.83A7.07 7.07 0 0 0 4 12.93V10.1Z"></path>
					</svg>
				</a>
			</div>
		</section>
		<Aside />
		<MobileNav />
	</main>
</Layout>