---
import FormattedDate from '../components/FormattedDate.astro';
import Layout from '../layouts/Layout.astro';
import Aside from '../layouts/Aside.astro';
import MobileNav from '../components/MobileNav.astro';
---

<Layout>
	<main class="max-w-6xl mx-auto p-3 md:p-12 flex grid lg:grid-cols-4">
		<section class="lg:col-span-3 bg-white dark:bg-zinc-800 dark:text-neutral-300 shadow-md rounded-lg overflow-hidden p-6 md:px-12 md:py-6">
			<h2 class="text-2xl font-bold mb-4">About</h2>
			<FormattedDate date={new Date('December 06 2022')} />
			<div class="grid gap-4 mt-2 mb-6">
				<h3 class="text-xl font-bold">Andy Wang</h3>
				<p>
					Currently working as a Front-End Engineer in the software development department of a major e-commerce company. 
				</p>
				<p>
					In my free time, I enjoy working on fun and interesting projects and discussing a wide range of topics. During leisure hours, I like playing PC games and creating digital artwork.
				</p>
			</div>
			<div class="grid gap-4 mt-2 mb-6">
				<h2 class="text-xl font-bold">Life Philosophy</h2>
				<p>
					我習慣每隔幾個月或一年做一次複盤，回頭檢視自己這段時間進步了多少或這些日子得到些什麼收穫，同時，也常會懷疑自己當初下的決定是不是錯的。
				</p>
				<p>
					不過仔細想想，如果再回到當時，我依然會做出相同的選擇，因為那是當下基於所有條件能做出的最佳抉擇。
				</p>
				<p>
					賈伯斯曾以自身經歷提到「Connecting the dots」的故事，每段人生都有它的意義，可能當時你並不知道自己在幹嘛，但總有那麼一天它會派上用場，幫助未來的自己。
				</p>
				<p>
					人生不過是由點和線組成，「每個點（經歷）都有它的價值，雖然當下可能看不清楚，但未來回頭看時，它們會串聯成意義。」所以勇敢去做吧！
				</p>
			</div>
			<img src="/about/about-img.jpg" class="mb-6" alt="">
			<p>（寫下這些，是希望勉勵自己在成長的過程不要害怕迷茫）</p>
			<div class="grid gap-4 mt-2 mb-6">
				<h2 class="text-xl font-bold">About Blog</h2>
				<p>
					在早期，這個部落格是使用 Jekyll 架設的，中間也嘗試了幾個不同的 theme，可以參考這篇<a href="https://andywangtw.dev/post/%E8%87%AA%E5%B7%B1%E7%9A%84%E9%83%A8%E8%90%BD%E6%A0%BC%E8%87%AA%E5%B7%B1%E6%9E%B6/" class="text-blue-500" target="_blank">文章</a>有簡短的介紹。
				</p>
				<p>
					到了 2024 年中，決定將部落格重構。現在的部落格是使用 Astro、React 和 Tailwind 開發。如果有興趣，可以參考 @devaslife 在 YouTube 上的示範影片。另外，我也在這篇<a href="https://andywangtw.dev/post/%E9%97%9C%E6%96%BC%E6%88%91%E9%87%8D%E6%A7%8B%E9%83%A8%E8%90%BD%E6%A0%BC%E9%80%99%E6%AA%94%E4%BA%8B/" class="text-blue-500" target="_blank">短文</a>中分享了關於重構部落格的一些心得。
				</p>
				<p>
					不知道未來會不會又搬家，但可以確定的是，未來會將這邊慢慢優化成自己喜歡的樣子！
				</p>
			</div>
		</section>
		<Aside />
		<MobileNav />
	</main>
</Layout>