---
import { getCollection } from 'astro:content';

const blog = await getCollection('blog');
const posts = (blog).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tagsSet = new Set();
blog.forEach(post => {
  post.data.tags.forEach(tag => {
    tagsSet.add(tag);
  });
});
const tagsCount = tagsSet.size;

---
<div class="w-full rounded-lg bg-white dark:bg-zinc-800 shadow-md py-10 mb-6 text-center">
  <img class="rounded-full h-24 w-24 mx-auto mb-4 transition-transform duration-1000 hover:rotate-180" src="https://avatars.githubusercontent.com/u/71600455?v=4" alt="head shot">
  <h1 class="text-md dark:text-neutral-200">Andy Wang</h1>
  <div class="text-neutral-500 dark:text-neutral-400">
    <p class="text-sm">Web Developer</p>
    <p class="text-sm mb-2">Taiwan, Hsinchu City</p>
  </div>
  <div class="flex px-6 dark:text-neutral-200">
    <div class="w-1/2">
      <p>
        <a href="/post">Posts<br>{posts.length}</a>
      </p>
    </div>
    <div class="w-1/2">
      <p>
        <a href="/post/tag">Tags<br>{tagsCount}</a>
      </p>
    </div>
  </div>
</div>