---
import { getCollection } from 'astro:content';
import { DEFAULT_AVATAR } from '../config/site';

const blog = await getCollection('blog');
const posts = blog.sort((a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const tagsSet = new Set();
blog.forEach((post: any) => {
  post.data.tags.forEach((tag: any) => {
    tagsSet.add(tag);
  });
});
const tagsCount = tagsSet.size;

const categoriesSet = new Set();
blog.forEach((post: any) => {
  categoriesSet.add(post.data.category);
});
const categoriesCount = categoriesSet.size;
---

<div class="w-full rounded-lg bg-white dark:bg-zinc-900 drop-shadow p-4 text-center">
  <a href="/" aria-label="Go to About Page" class="group block relative mx-auto mb-4 rounded-lg overflow-hidden">
    <div class="absolute inset-0 pointer-events-none z-10 flex items-center justify-center transition group-hover:bg-black/30 group-active:bg-black/50">
      <svg class="transition opacity-0 scale-90 group-hover:opacity-100 group-hover:scale-100 text-white w-12 h-12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V7Z" stroke="currentColor" stroke-width="2"/>
        <path d="M8 10h8M8 14h5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </div>
    <img
      class="w-full h-auto transition duration-700 group-hover:scale-105"
      src={DEFAULT_AVATAR}
      alt="head shot"
    />
  </a>
  <h1 class="text-lg dark:text-neutral-200 mb-2 font-bold">Andy Wang</h1>
  <div class="text-neutral-500 dark:text-neutral-400 mb-4">
    <p class="text-sm">Web Developer</p>
    <div class="text-xs flex items-center gap-1 justify-center">
      <svg
        width="14"
        height="14"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M12 22C16 18 20 14.4183 20 10C20 5.58172 16.4183 2 12 2C7.58172 2 4 5.58172 4 10C4 14.4183 8 18 12 22Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <p>Taiwan, Hsinchu City</p>
    </div>
  </div>
  <div class="flex dark:text-neutral-200 mb-4">
    <div class="w-1/3 hover:bg-gray-100 dark:hover:bg-zinc-800 rounded-md p-2 transition-all duration-300 ease-out">
      <a href="/archive">
        <p class="text-xs truncate whitespace-nowrap">Articles</p>
        <p>{posts.length}</p>
      </a>
    </div>
    <div class="w-1/3 hover:bg-gray-100 dark:hover:bg-zinc-800 rounded-md p-2 transition-all duration-300 ease-out">
      <a href="/archive/tag">
        <p class="text-xs truncate whitespace-nowrap">Tags</p>
        <p>{tagsCount}</p>
      </a>
    </div>
    <div class="w-1/3 hover:bg-gray-100 dark:hover:bg-zinc-800 rounded-md p-2 transition-all duration-300 ease-out">
      <p class="text-sm">
        <a href="/archive/category">
          <p class="text-xs truncate whitespace-nowrap">Categories</p>
          <p>{categoriesCount}</p>
        </a>
      </p>
    </div>
  </div>
  <div class="flex justify-center gap-4 text-gray-500 dark:text-neutral-400">
    <a
      href="https://github.com/AndyWang505"
      target="_blank"
      class="hover:text-gray-700 dark:hover:text-neutral-200"
    >
      <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24">
        <path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path>
      </svg>
    </a>
    <a
      href="https://x.com/andywang890505"
      target="_blank"
      class="hover:text-gray-700 dark:hover:text-neutral-200"
    >
      <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24">
        <path
          fill="currentColor"
          d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
        ></path>
      </svg>
    </a>
    <a href="/rss.xml" target="_blank" class="hover:text-gray-700 dark:hover:text-neutral-200">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M6.18 15.64a2.18 2.18 0 0 1 2.18 2.18C8.36 19 7.38 20 6.18 20C5 20 4 19 4 17.82a2.18 2.18 0 0 1 2.18-2.18M4 4.44A15.56 15.56 0 0 1 19.56 20h-2.83A12.73 12.73 0 0 0 4 7.27V4.44m0 5.66a9.9 9.9 0 0 1 9.9 9.9h-2.83A7.07 7.07 0 0 0 4 12.93V10.1Z"
        ></path>
      </svg>
    </a>
    <a
      href="mailto:andywang890505@gmail.com"
      class="hover:text-gray-700 dark:hover:text-neutral-200"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2 7L10.1649 12.7154C10.8261 13.1783 11.1567 13.4097 11.5163 13.4993C11.8339 13.5785 12.1661 13.5785 12.4837 13.4993C12.8433 13.4097 13.1739 13.1783 13.8351 12.7154L22 7M6.8 20H17.2C18.8802 20 19.7202 20 20.362 19.673C20.9265 19.3854 21.3854 18.9265 21.673 18.362C22 17.7202 22 16.8802 22 15.2V8.8C22 7.11984 22 6.27976 21.673 5.63803C21.3854 5.07354 20.9265 4.6146 20.362 4.32698C19.7202 4 18.8802 4 17.2 4H6.8C5.11984 4 4.27976 4 3.63803 4.32698C3.07354 4.6146 2.6146 5.07354 2.32698 5.63803C2 6.27976 2 7.11984 2 8.8V15.2C2 16.8802 2 17.7202 2.32698 18.362C2.6146 18.9265 3.07354 19.3854 3.63803 19.673C4.27976 20 5.11984 20 6.8 20Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </a>
  </div>
</div>
