---
import { getCollection } from 'astro:content';

const blog = await getCollection('blog');
// get unique tags
const tagsSet = new Set<string>();
blog.forEach((post) => {
  post.data.tags.forEach((tag) => tagsSet.add(tag));
});

const tagsArray = Array.from(tagsSet).sort();
---

<div class="w-full rounded-xl bg-white dark:bg-zinc-900 shadow-sm dark:shadow-gray-900/20 p-6">
  <h3 class="text-md font-bold text-neutral-500 dark:text-neutral-400 uppercase tracking-wider mb-4">
    TAGS
  </h3>
  <div class="flex flex-wrap gap-2 leading-relaxed">
    {tagsArray.map((tag) => (
      <a href={`/archive/tag/${tag.replace(/\s+/g, '-')}/`}
         class="inline-flex items-center px-2 py-1 bg-neutral-100 dark:bg-neutral-500/10 text-neutral-700 dark:text-neutral-300 hover:bg-neutral-200 dark:hover:bg-neutral-400/20 hover:text-neutral-800 dark:hover:text-neutral-200 text-sm rounded-md transition-colors duration-200 whitespace-nowrap">
        {tag}
      </a>
    ))}
  </div>
</div>
