---
import PersonalInfo from '../components/PersonalInfo.astro';
import CategoryAside from '../components/CategoryAside.astro';
import TagCloud from '../components/TagCloud.astro';
import RecentPosts from '../components/RecentPosts.astro';
import ToC from '../components/ToC.astro';

const { headings = [] } = Astro.props;
const isPost = Astro.url.pathname.includes('/post/');
---

<aside class="mb-4 row-start-2 row-end-3 col-span-2 lg:row-start-1 lg:row-end-2 lg:col-span-1 lg:max-w-[17.5rem] onload-animation w-full">
  <div class="flex flex-col w-full gap-4 mb-4">
    <PersonalInfo />
  </div>
  
  {
    isPost ? (
      <div class="transition-all duration-700 flex flex-col w-full gap-4">
        <RecentPosts />
        <div class="sticky top-4">
          <ToC headings={headings} />
        </div>
      </div>
    ) : (
      <div class="transition-all duration-700 flex flex-col w-full gap-4">
        <RecentPosts class="onload-animation" style="animation-delay: 150ms" />
        <CategoryAside class="onload-animation" style="animation-delay: 200ms" />
        <TagCloud class="onload-animation" style="animation-delay: 250ms" />
      </div>
    )
  }
</aside>

<style>
  .scrollbar-hide {
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
</style>
